body{
  padding: 0;
  margin: 0;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  background-image: url(../images/AlteredCarbon-FINAL.jpg);
}

h2{
  color: #38e819;

}

.jumbotron h1{
  color:#a6291b;
}
.jumbotron{
  font-family: 'Play', sans-serif;
  font-size: 32px;
  text-align: center;
  background-image: url(../images/carbonHeader2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  background-color: black; 
}

#wordBank, #game{
  padding-left: 5%;
  background:rgba(56, 232, 25, 0.25);
  width: 40%;
  border-color: #38e819;
  border-style: double;
  border-width: 2%;
  padding-right: 10%;
}

#spacer{
  width: 5%;
  padding-left: 5%;
}
